# Regex practice on a dataset from keggle

In [1]:
import pandas as pd

In [22]:
df = pd.read_csv('KaggelMostVotes.csv')
import re

In [3]:
df.head(2)

,Votes,Image,Link,Title,Sub-title,Uploader,Updated on,Version,Tags,FileType,FileSize,License,Kernels,Discussions,Views
0,2042,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/mlg-ulb/creditcardfraud,Credit Card Fraud Detection,Anonymized credit card transactions labeled as...,Machine Learning Group - ULB,6 months ago,3,"crime,finance",CSV,66 MB,ODbL,1k,35,614k
1,1371,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/hugomathien/soccer,European Soccer Database,"25k+ matches, players & teams attributes for E...",Hugo Mathien,2 years ago,10,"association football,europe",SQLite,34.4 MB,ODbL,1k,85,496k

Question 1: Find the URLs (Link) that contain "kaggle.com."

In [129]:
df['Link'][df['Link'].str.contains(r'kaggle\.com',regex=True)]

0          https://www.kaggle.com/mlg-ulb/creditcardfraud
1               https://www.kaggle.com/hugomathien/soccer
2         https://www.kaggle.com/tmdb/tmdb-movie-metadata
3                    https://www.kaggle.com/START-UMD/gtd
4       https://www.kaggle.com/mczielinski/bitcoin-his...
                              ...
1955     https://www.kaggle.com/chetankv/dogs-cats-images
1956                     https://www.kaggle.com/cms/nppes
1957    https://www.kaggle.com/hrosebaby/horse-racing-...
1958    https://www.kaggle.com/rgupta09/kiva-additiona...
1959    https://www.kaggle.com/jobspikr/30000-latest-h...
Name: Link, Length: 1960, dtype: object

Question 2: Extract the file extensions (FileType) from the URLs (Link).

In [127]:
df['FileType'] = df['Link'].str.extract(r'(\.[a-zA-Z]+$)')
df

,Votes,Image,Link,Title,Sub-title,Uploader,Updated on,Version,Tags,FileType,FileSize,License,Kernels,Discussions,Views
0,2042,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/mlg-ulb/creditcardfraud,Credit Card Fraud Detection,Anonymized credit card transactions labeled as...,Machine Learning Group - ULB,6 months ago,3,"crime,finance",NaN,66 MB,ODbL,1k,35,614k
1,1371,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/hugomathien/soccer,European Soccer Database,"25k+ matches, players & teams attributes for E...",Hugo Mathien,2 years ago,10,"association football,europe",NaN,34.4 MB,ODbL,1k,85,496k
2,1219,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/tmdb/tmdb-movie-metadata,TMDB 5000 Movie Dataset,"Metadata on ~5,000 movies from TMDb",The Movie Database (TMDb),a year ago,2,film,NaN,9.3 MB,Other,1k,50,513k
3,979,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/START-UMD/gtd,Global Terrorism Database,"More than 180,000 terrorist attacks worldwide,...",START Consortium,18 days ago,3,"terrorism,crime,international relations",NaN,27.9 MB,Other,633,11,237k
4,912,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/mczielinski/bitcoin-his...,Bitcoin Historical Data,Bitcoin data at 1-min intervals from select ex...,Zielak,3 months ago,14,"finance,history",NaN,148.3 MB,CC4,85,22,224k
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1955,6,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/chetankv/dogs-cats-images,Dogs & Cats Images,image classification,chetanimravan,5 months ago,1,No Tags,NaN,216.2 MB,CC0,4,0,509
1956,6,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/cms/nppes,NPPES Plan and Provider Enumeration System,The CMS National Plan and Provider Enumeration...,Centers for Medicare & Medicaid Services,1 months ago,1,"government,medicine,healthcare",NaN,15.2 GB,CC0,1,0,1k
1957,6,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/hrosebaby/horse-racing-...,Horse Racing Dataset for Experts (Hong Kong),A comprehensive dataset for horse racing in Ho...,HorseBaby,4 months ago,3,"horse racing,sports,ranking,classification",NaN,8 MB,CC4,2,1,12k
1958,6,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/rgupta09/kiva-additiona...,Metrics for Kiva,A look into regional economic measures & demog...,Rituparna,5 months ago,5,"demographics,economics,finance",NaN,1.3 MB,CC0,1,0,1k
1959,6,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/jobspikr/30000-latest-h...,30000+ healthcare jobs from eMedCareers (Europe),This dataset contains 30000 latest job posting...,JobsPikr,5 months ago,1,"healthcare,europe",NaN,22.3 MB,CC4,1,0,1k

In [123]:
df.FileType.value_counts()

.csv    1
Name: FileType, dtype: int64

Question 3: Identify the datasets with Titles that contain the word "Soccer."

In [121]:
df[df['Title'].str.contains("Soccer.",flags=re.IGNORECASE)]
#IGNORECASE will help us to match to the string soccer irrespective of if it's in lowercase or uppercase it ensures that the search is case-insensitive. We can perform the similar task without the help of re module by simply doing inside the str.contains('soccer',case = False)

,Votes,Image,Link,Title,Sub-title,Uploader,Updated on,Version,Tags,FileType,FileSize,License,Kernels,Discussions,Views
1,1371,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/hugomathien/soccer,European Soccer Database,"25k+ matches, players & teams attributes for E...",Hugo Mathien,2 years ago,10,"association football,europe",SQLite,34.4 MB,ODbL,1k,85,496k
104,167,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/analystmasters/earn-you...,A 6-figure prize by soccer prediction (Live Feed),"Clean, yet rich dataset of 7300 soccer matches...",Mohammad Ghahramani,a year ago,10,No Tags,CSV,10.7 MB,CC0,4,12,11k
211,85,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/tadhgfitzgerald/fifa-in...,FIFA Soccer Rankings,International Men's Ranking (August 1993 - Jun...,Tadhg Fitzgerald,4 months ago,3,"association football,sports,ranking",CSV,693.2 KB,CC0,17,1,22k
506,36,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/sashchernuh/european-fo...,World Soccer - archive of soccer results and odds,"20+ countries, 16 seasons, 30+ leagues, 130k+ ...",sash,3 days ago,18,sports,SQLite,30.3 MB,Other,8,4,5k
824,22,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/drgilermo/home-advantag...,Home Advantage in Soccer and Basketball,Home and away performance of 9K+ Teams from 88...,Omri Goldstein,2 years ago,1,"association football,basketball",CSV,135.8 KB,Other,8,2,6k
1138,14,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/crawford/us-major-leagu...,U.S. Major League Soccer Salaries,Salaries from 2007 to 2017,Chris Crawford,a year ago,1,"income,association football",CSV,83.1 KB,Other,3,1,4k
1458,9,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/paosheng/european-socce...,European Soccer Database,"25k+ matches, players & teams attributes for E...",paosheng,2 years ago,1,No Tags,CSV,1.3 KB,ODbL,2,1,4k
1601,8,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/jiezi2004/soccer,European Soccer Database Supplementary,"Data Supplementary to ""European Soccer Database""",willinghorse,a year ago,1,No Tags,CSV,13.2 MB,ODbL,1,1,2k
1602,8,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/spn007/la-liga-dataset,European Soccer Dataset : La Liga,Detailed information of games played in the la...,Sakti Prasad,a year ago,1,No Tags,CSV,15 KB,GPL,1,0,1k
1641,8,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/aalborguniversity/therm...,Thermal soccer dataset,Tracking sports players,Aalborg University,8 months ago,1,"computer engineering,computer science,sports",Other,822.8 MB,CC4,0,0,1k

Question 4: Extract the dataset Uploader names that contain "Machine Learning."

In [120]:
df['Uploader'][df['Uploader'].str.contains('machine learning',case = False)]

0                         Machine Learning Group - ULB
10                                UCI Machine Learning
20                                UCI Machine Learning
23                                UCI Machine Learning
46                                UCI Machine Learning
55                                UCI Machine Learning
78                                UCI Machine Learning
80                                UCI Machine Learning
95                                UCI Machine Learning
130                               UCI Machine Learning
190                               UCI Machine Learning
253                               UCI Machine Learning
258                               UCI Machine Learning
264                               UCI Machine Learning
287                               UCI Machine Learning
317                               UCI Machine Learning
321                               UCI Machine Learning
372                               UCI Machine Learning
384                               UCI Machine Learning
417                               UCI Machine Learning
435                          MACHINE LEARNING DATASETS
515                               UCI Machine Learning
556                               UCI Machine Learning
588                               UCI Machine Learning
667                               UCI Machine Learning
729                               UCI Machine Learning
745                               UCI Machine Learning
768                               UCI Machine Learning
818                               UCI Machine Learning
853     GIANT: Machine learning for smart environments
869                               UCI Machine Learning
1085                              UCI Machine Learning
1147                              UCI Machine Learning
1148                              UCI Machine Learning
1189                         MACHINE LEARNING DATASETS
1209                              UCI Machine Learning
1259                              UCI Machine Learning
1340                              UCI Machine Learning
1731                              UCI Machine Learning
1888                              UCI Machine Learning
Name: Uploader, dtype: object

Question 5: Find the datasets with dataset descriptions (Sub-title) containing the word "fraud."

In [119]:
df[df['Sub-title'].str.contains('fraud',case=False)]

,Votes,Image,Link,Title,Sub-title,Uploader,Updated on,Version,Tags,FileType,FileSize,License,Kernels,Discussions,Views
0,2042,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/mlg-ulb/creditcardfraud,Credit Card Fraud Detection,Anonymized credit card transactions labeled as...,Machine Learning Group - ULB,6 months ago,3,"crime,finance",CSV,66 MB,ODbL,1k,35,614k
504,36,https://kaggle2.blob.core.windows.net/datasets...,https://www.kaggle.com/rtatman/fraudulent-emai...,Fraudulent E-mail Corpus,"CLAIR collection of ""Nigerian"" fraud emails",Rachael Tatman,a year ago,1,"internet,linguistics,crime",Other,5.8 MB,CC4,1,1,10k

Question 6: Extract the file sizes (FileSize) in megabytes (MB) from the dataset information.

In [118]:
a = df['FileSize'].str.extract(r'(\d\.?\d)\sMB').dropna()
a

        0
0      66
1     4.4
2     9.3
3     7.9
4     8.3
...   ...
1952  0.5
1953  8.9
1955  6.2
1958  1.3
1959  2.3

[1057 rows x 1 columns]

In [117]:
df.FileSize.str.split(' ',expand=True)[1].value_counts()

MB    1091
KB     745
GB     116
B        5
TB       3
Name: 1, dtype: int64

Question 7: Extract the sizes (FileSize) in gigabytes (GB) from the dataset information.

In [116]:
a = df['FileSize'].str.extract(r'(\d\.?\d)\sGB').dropna()
a

        0
19    1.3
34    2.9
58    1.4
91    1.2
93    3.8
...   ...
1806  6.8
1895  1.7
1906  1.2
1923  7.7
1956  5.2

[103 rows x 1 columns]

Question 8: Find the dataset Titles that contain numbers.

In [115]:
df['Title'][df['Title'].str.contains(r'\d+',regex=True)].to_frame()

                                                  Title
2                               TMDB 5000 Movie Dataset
9               Kaggle ML and Data Science Survey, 2017
33    120 years of Olympic history: athletes and res...
35                                     2016 US Election
38     International football results from 1872 to 2018
...                                                 ...
1939                         Oscars speeches since 1939
1940  UK Accidents 10 years history with many variables
1946          Air pollution in Skopje from 2008 to 2018
1952                     PUBG 1PP Squads, 31147 Matches
1959   30000+ healthcare jobs from eMedCareers (Europe)

[399 rows x 1 columns]

Question 9: Extract the dataset Views values with "k" (thousands) at the end.

In [114]:
df['Views'][df['Views'].str.contains(r'k$',regex=True)].to_frame()

     Views
0     614k
1     496k
2     513k
3     237k
4     224k
...    ...
1953    1k
1956    1k
1957   12k
1958    1k
1959    1k

[1864 rows x 1 columns]

Question 10: Identify the dataset Tags that contain the word "finance."

In [113]:
df['Tags'][df['Tags'].str.contains('finance',case=False)].to_frame()

                                                   Tags
0                                         crime,finance
4                                       finance,history
13                                news agencies,finance
14                                              finance
15    finance,business,artificial intelligence,econo...
...                                                 ...
1846                     finance,technology forecasting
1935                                time series,finance
1949  decision tree,binary classification,banking,fi...
1950                   finance,time series,demographics
1958                     demographics,economics,finance

[120 rows x 1 columns]

Question 11: Find the dataset Links (Link) that are secure URLs (start with "https").

In [112]:
df['Link'][df['Link'].str.contains(r'^https:')]

0          https://www.kaggle.com/mlg-ulb/creditcardfraud
1               https://www.kaggle.com/hugomathien/soccer
2         https://www.kaggle.com/tmdb/tmdb-movie-metadata
3                    https://www.kaggle.com/START-UMD/gtd
4       https://www.kaggle.com/mczielinski/bitcoin-his...
                              ...
1955     https://www.kaggle.com/chetankv/dogs-cats-images
1956                     https://www.kaggle.com/cms/nppes
1957    https://www.kaggle.com/hrosebaby/horse-racing-...
1958    https://www.kaggle.com/rgupta09/kiva-additiona...
1959    https://www.kaggle.com/jobspikr/30000-latest-h...
Name: Link, Length: 1960, dtype: object

Question 12: Extract the version numbers (Version) with a single digit after the decimal point.

In [100]:
df.Version = df.Version.astype('str')

In [110]:
a = df['Version'].str.extract(r'(\d+\.\d{1})').dropna()

In [111]:
a

Empty DataFrame
Columns: [0]
Index: []